.header {
  display: flex;
  flex-direction: column;
  border-bottom: 8px solid #222;
  text-align: center;
  padding: 165px 45px;
}

.header__title {
  color: white;
  max-width: 640px;
  font-size: 50px;
  font-weight: 500;
  margin: auto;
  padding-top: 50px;
}

.header__subtitle {
  color: white;
  font-size: 26px;
  font-weight: normal;
  margin: 16px auto;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 35px;
  }

  .header__subtitle {
    font-size: 18px;
  }
}
